<!-- FOOTER -->
<footer>
	<div class="footer_wrapper">
		<div class="navigation-container">
			<div class="navigation-box">
					
				<div class="navigation">
					<p class="navigation__title">SOCIALS</p>
					<ul class="navigation__ul">
						<li class="navigation__li"> <a href="#">Facebook</a></li>
						<li class="navigation__li"> <a href="#">Flicker</a></li>
						<li class="navigation__li"> <a href="#">Twiter</a></li>
						<li class="navigation__li navigation__li--last"> <a href="#">Vimeo</a></li>
					</ul>
				</div>

				<div class="navigation navigation--2">
					<p class="navigation__title">LINKS</p>
					<ul class="navigation__ul">
						<li class="navigation__li"> <a href="#">How to Write a Blog</a></li>
						<li class="navigation__li"> <a href="#">Create a Blog in 4 Steps</a> </li>
						<li class="navigation__li"> <a href="#">15 Tips to Increase Traffic</a></li>
						<li class="navigation__li navigation__li--last"> <a href="#">20 Blog Post Ideas</a></li>
					</ul>
				</div>

				<div class="navigation navigation--3">
					<p class="navigation__title">BLOGROLL</p>
					<ul class="navigation__ul">
						<li class="navigation__li"> <a href="#">Blogs Blog</a></li>
						<li class="navigation__li"> <a href="#">Roll Up Roll Up</a></li>
						<li class="navigation__li"> <a href="#">Blog Free</a></li>
						<li class="navigation__li navigation__li--last"> <a href="#">Wordpress Blog</a></li>
					</ul>
				</div>

				<div class="navigation navigation--4">
					<p class="navigation__title">ABOUT US</p>
					<ul class="navigation__ul">
						<li class="navigation__li"> <a href="#">Agriculture</a></li>
						<li class="navigation__li"> <a href="#">Harvest</a> </li>
						<li class="navigation__li"> <a href="#">Company news</a> </li>
						<li class="navigation__li navigation__li--last"><a href="#">Investor relations</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="contacts">
		<div class="contacts-box">
			<div class="location">
				<img src="build/img/location.png" alt="">
				<p>BuildHomeLtd. Street Name 123 23 45 Cityname</p>
			</div>

			<div class="phone">
				<img src="build/img/phone.png" alt="">
				<p>+123 900 123 456</p>
			</div>

			<div class="mail">
				<img src="build/img/mail.png" alt="">
				<p>info@buildhome.web</p>
			</div>
			<div class="copyright">
				<p>&#169 2014 Build Home</p>
			</div>
		</div>
	</div>
</footer>
