<!-- HEADER -->
<header>
    <!-- MAIN LOGO -->
    <a href="#" class="header__logo"><img src="build/img/logo_main.png" alt="LOGO"></a>
    
    <!-- SOCIAL NETWORKS LINKS -->
    <div class="header__networks">
        <a href="#" class="facebook"></a>
        <a href="#" class="twitter"></a>
        <a href="#" class="rss"></a>
        <a href="#" class="linkedin"></a>
        <a href="#" class="skype"></a>
    </div>

    <!-- MENU -->
    <ul class="header__menu">
        <li><a class="header__menu--active" href="#">HOME</a></li>
        <li><a href="#">FEATURES</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">SHOP</a></li>
        <div class="search">
            <input type="text" placeholder="Search...">
            <button class="search__submit" type="submit"></button>
        </div>
    </ul>
</header>