<!-- INFORMATION SECTION-->

<section>
	<div class="info info-1">
		<p class="info__number">01</p>
		<img src="build/img/icon_1.png" alt="">
		<p class="info__title">Power Inside</p>
		<p class="info__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
		<a href="#" class="info__button">Read more &#8594;</a>
	</div>

	<div class="info info-2">
		<p class="info__number">02</p>
		<img src="build/img/icon_2.png" alt="">
		<p class="info__title">New Technologies</p>
		<p class="info__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
		<a href="#" class="info__button">Read more &#8594;</a>
	</div>

	<div class="info info-3">
		<p class="info__number">03</p>
		<img src="build/img/icon_3.png" alt="">
		<p class="info__title">Fast Support</p>
		<p class="info__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
		<a href="#" class="info__button">Read more &#8594;</a>
	</div>
</section>