<!-- CERVICES SECTION -->

<div class="services_wrapper">
	<div class="services_content">
		<p class="services__title">Our Services</p>
		<div class="services services--1">
			<a href="#" class="services__img"><img src="build/img/img_1.png" alt=""></a>
			<a href="#" class="services__text">Schedule services</a>
		</div>
	
		<div class="services services--2">
			<a href="#" class="services__img"><img src="build/img/img_2.png" alt=""></a>
			<a href="#" class="services__text">Preventive Maintence</a>
		</div>
	
		<div class="services services--3">
			<a href="#" class="services__img"><img src="build/img/img_3.png" alt=""></a>
			<a href="#" class="services__text">Tire & Wheel Services</a>
		</div>
	
		<div class="services services--4">
			<a href="#" class="services__img"><img src="build/img/img_4.png" alt=""></a>
			<a href="#" class="services__text">Repair Services</a>
		</div>
	</div>
</div>
