	<!-- SLIDER -->

	<div class="slider">
			<div class="slider_wrapper">
				<div class="slider_picture">
						<ul>
							<li><img src="build/img/photo_1.jpg"></li>
							<li><img src="build/img/photo_2.jpg"></li>
							<li><img src="build/img/photo_3.jpg"></li>
						</ul>
				</div>
				<div class="slider_nav"></div>
			</div>

			<div class="slider__text">
				<p class="slider__text__text--top">BUILD</p>
				<p class="slider__text__text--center">YOUR</p>
				<p>BUSINESS</p>
			</div>
	</div>