// --------------------------------------------------
// Global
// --------------------------------------------------

$main-font:     'Ubuntu Medium', sans-serif;
$center:        0 auto;
$main-width:    1160px;
$wrapper-width: 1240px;
$photo-height:  470px;
$font-size:     14px;
$url_logo:      url(../../build/img/sprite_logos.png);

// Colors
// -------------------------

$main_color:  #2a2d32;
$white:       #ffffff;
$orange:	  #FFA500;
$black:		  #000;
$blue:        #248cec;	

// Brand Colors
// -------------------------

$prime: 	  $black;
$second:	  $blue;
$third:		  $orange;

// Content Colors
$colorText:   $black;


